.login__container {
  width: 100vw;
  height: 100vh;
  display: flex;

  .login__left {
    width: 50%;
    display: flex;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .video__bg {
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.445);
      width: 50%;
      height: 100vh;
    }

    .form__video {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100vh;
      object-fit: cover;
      object-position: center;
    }
    .text__box {
      display: flex;
      flex-direction: row;
      position: relative;

      h1 {
        position: relative;
        font-size: 9rem;
        letter-spacing: 8px;

        &:nth-child(1) {
          color: white;
          background: black;
          position: relative;
          width: 3.5em;
          margin: 0 auto;
          border-right: 2px solid rgba(255, 255, 255, 0.75);
          font-size: 9em;
          text-align: center;
          white-space: nowrap;
          overflow: hidden;
          animation: typewriter 1.2s steps(14) 1s 1 normal both,
            blinkTextCursor 500ms steps(44) infinite normal;
        }

        &:nth-child(2) {
          color: red;
        }
      }
    }
  }

  .login__right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 3.5em;
    border-right: none;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
