.form__container {
  width: 500px;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  background: white;
  box-shadow: 0px 0px 10px white;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30%;

    h1 {
      font-size: 2.5rem;
      margin-bottom: 10px;
    }

    input {
      width: 350px;
      height: 50px;
      font-size: 20px;
      padding-left: 10px;
      margin-bottom: 10px;
      border-radius: 5px;
    }
  }

  .text__box {
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 5px;
    padding-bottom: 30px;

    h1 {
      position: relative;

      &:nth-child(1) {
        background-color: black;
        padding: 0 10px;
        color: white;
      }

      &:nth-child(2) {
        color: red;
      }
    }
  }

  .form__changeform {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

    span {
      font-weight: bold;
      margin-bottom: 10px;
    }

    button {
      width: 100%;
      border: none;
      padding: 10px 0;
      border-top-left-radius: 80%;
      border-top-right-radius: 80%;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      background: red;
      color: white;
      cursor: pointer;
    }
  }
}
