.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 0.1px solid lightgray;
  background-color: white;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 100%;
  z-index: 999;

  .header__left {
    display: flex;
    align-items: center;
    img {
      object-fit: contain;
      height: 40px;
      margin-right: 10px;
    }

    .header__logo {
      font-size: 35px;
      font-weight: bold;
      margin-right: 10px;
      background: linear-gradient(
        to right,
        black 20%,
        rgb(200, 0, 0) 40%,
        red 60%,
        black 80%,
        black 100%
      );
      background-size: 200% auto;
      color: #000;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: shine 1s linear infinite;

      @keyframes shine {
        to {
          background-position: 200% center;
        }
      }
    }
  }

  .header__search {
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 22px;
    color: gray;
    background-color: #efefef;

    input {
      border: none;
      outline: none;
      background: none;
    }
  }

  .header__right {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}
