.post {
  background-color: white;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;

  .post__header {
    display: flex;
    margin-bottom: 10px;
  }

  .post__info {
    margin-left: 12px;

    p {
      font-size: 12px;
      color: gray;
    }

    h2 {
      font-size: 15px;
    }
  }

  .post__body {
    overflow-wrap: anywhere;
  }

  .post__reactions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 15px;

    span {
      font-size: 15px;
    }

    div {
      display: flex;
      gap: 10px;
    }

    .postReactions__comments {
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .post__buttons {
    display: flex;
    justify-content: space-evenly;
  }

  
}

.postInput__comment {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 15px;
  margin-bottom: 10px;
  padding: 10px 0;

  div {
    &:nth-child(2) {
      border: 1px solid lightgray;
      margin-left: 8px;
      border-radius: 30px;
      display: flex;
      width: 85%;
      padding: 10px;
      color: gray;
      padding-left: 15px;

      form {
        width: 100%;

        input {
          width: 97%;
          border: none;
          background: none;
          outline: none;
        }

        button {
          display: none;
        }
      }
    }
  }
}
